.contactArea{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('../images/white\ infinity.png');
  background-position: right;
  background-color: #1D1D1D;
  background-size: cover;
  background-position-x: 400px;
  background-position-y: 20px;
  background-repeat: no-repeat;
}

.contactDiv{
  width: 800px;
  color: whitesmoke;
  text-align: left;
}

a{
  text-decoration: none;
  color: whitesmoke;
}

a:hover {
  text-decoration: underline;
}

#contactTitle{
  font-size: 40px;
}

#backhome{
  margin-top: 50px;
}

#backhome:hover{
  color: whitesmoke;
  text-decoration: underline;
}