.mainLogo{
  height: 200px;
  width: auto;
  left: 0px;
}


.mainHeaderContainer{
  background-color: #f5f410;
  position: fixed;
  top: 0;
  height: 100vh;
  color: #1D1D1D;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}

.headerSect{
margin-top: 25px;
margin-bottom: 25px;
}

.socials{
  padding-top: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#LinkedinLogo {
  padding-right: 5px;
  height: 50px;
  width: auto;
  transition-duration: 1s;
}

#LinkedinLogo:hover {
transform: scale(1.4);

}

#GithubLogo {
  padding-left: 5px;
  height: 50px;
  width: auto;
  transition-duration: 1s;
}

#GithubLogo:hover {
  transform: scale(1.4);

}

.sidelinks{
  position: relative;
  text-decoration: none;
  width: auto;
}

.sidelinks::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}



.sidelinks:hover::before {
  transform: scaleX(.4);
}